In [56]:
import psycopg2
import osgeo.ogr
import shapely
import shapely.wkt
import geopandas as gpd
%matplotlib inline

In [57]:
import pandas as pd
df = pd.read_csv("gbif_summary.csv", encoding="latin1")

In [58]:
df.head()

,Unnamed: 0,species,year,decimalLongitude,decimalLatitude,municipality,datasetName
0,0,Bombus impatiens,2018,-123.214155,49.220991,1,iNaturalist Research-grade Observations
1,1,Calidris bairdii,2018,-123.212838,49.221082,1,iNaturalist Research-grade Observations
2,2,Hydroprogne caspia,2018,-123.213369,49.219913,1,iNaturalist Research-grade Observations
3,3,Passerculus sandwichensis,2018,-123.213379,49.220764,1,iNaturalist Research-grade Observations
4,4,Calidris bairdii,2018,-123.213018,49.220716,1,iNaturalist Research-grade Observations

In [59]:
from shapely.geometry import Point

In [60]:
connection = psycopg2.connect(database="myproject",user="myprojectuser", password="password")
cursor = connection.cursor()

In [61]:
cursor.execute("DELETE FROM biodivmap_gbifsummaryfull")

In [62]:
for i in range(0, df.shape[0]):
    r = df.loc[i]
    query = "INSERT INTO biodivmap_gbifsummaryfull (datasetname, species, year, lon, lat, point) VALUES (%s,%s,%s,%s,%s,ST_SetSRID(ST_MakePoint(%s, %s), 4326))"
    record_to_insert = (df.loc[i]["datasetName"], df.loc[i]["species"], int(df.loc[i]["year"]), 
                           df.loc[i]["decimalLongitude"], df.loc[i]["decimalLatitude"], df.loc[i]["decimalLongitude"], df.loc[i]["decimalLatitude"])      
    cursor.execute(query, record_to_insert)

In [63]:
connection.commit()

In [35]:
poisInpolygon = """SELECT *
FROM biodivmap_gbifsummary
WHERE
ST_Contains(biodivmap_gbifsummary.point,('POLYGON((-15.0292969 47.6357836,-15.2050781 47.5172007,-16.2597656 29.3821751, 35.0683594 26.1159859, 38.0566406 47.6357836,-15.0292969 47.6357836))'));"""
cursor.execute(poisInpolygon)

In [37]:
cursor.fetchall()

[]

In [34]:
df = pd.read_csv("gbif_summary.csv", encoding="latin1")

In [35]:
df.head()

,Unnamed: 0,species,year,decimalLongitude,decimalLatitude,municipality,datasetName
0,0,Bombus impatiens,2018,-123.214155,49.220991,1,iNaturalist Research-grade Observations
1,1,Calidris bairdii,2018,-123.212838,49.221082,1,iNaturalist Research-grade Observations
2,2,Hydroprogne caspia,2018,-123.213369,49.219913,1,iNaturalist Research-grade Observations
3,3,Passerculus sandwichensis,2018,-123.213379,49.220764,1,iNaturalist Research-grade Observations
4,4,Calidris bairdii,2018,-123.213018,49.220716,1,iNaturalist Research-grade Observations